.d-flex-set {
    display: flex;
    margin-right: 35px;
    height: 55px;
    justify-content: flex-end;
    .name-img {
        margin-right: 10px !important;
        width: 40px;
        height: 40px;
        margin: auto;
    }
    .arrow-set {
        position: absolute;
        right: 35px;
        top: 12px;
    }
}
