.header {
    display: flex;
    margin-right: 35px;
    height: 55px;
    justify-content: flex-end;
    &--name {
        margin-right: 10px !important;
        width: 40px;
        height: 40px;
        margin: auto;
        justify-content: center;
        display: flex;
        text-align: center;
        border-radius: 10px;
        background-color: #0cd4f5;
        align-items: center;
    }
    .arrow-set {
        position: absolute;
        right: 35px;
        top: 12px;
    }
}
