<div class="sidenav-width">
    <div class="height-set">
        <app-texts type="title" color="cyan" font="bold" align="middle"></app-texts>
    </div>
    <div class="d-flex-settings ">
        <img src="/assets/img/image.svg" class="icon-alignment"/>
        <app-button type="button" backgroundColor="cyan" radius="xl" width="default" height="default" margin="auto"
            textColor="white" border="none"></app-button>
           
    </div>
    <div class="d-flex-settings pt-4">

    <img src="/assets/img/square.svg" class="icon-alignment"/>
        
    <app-button type="button2" radius="xl" width="default" height="default" margin="auto"
            textColor="grey" border="none"></app-button>
</div>
</div>