.sidenav {
  height: 100vh;

  &--title {
    margin: 10px 0px 35px 0px;
    padding: 15px;
    height: 50px;
  }

  &--item {
    display: flex;
    height: 50px;
    justify-content: space-around;

    &-icon {
      left: 40px;
      margin: 8px;
    }
  }
}
