<aside class="sidenav">
  <header class="sidenav--title">
    <app-texts type="title" color="cyan" font="bold" align="middle"></app-texts>
  </header>

  <main>
    <!-- <div class="sidenav--item">
      <img src="/assets/img/image.svg" class="sidenav--item-icon" />

      <app-button type="button" backgroundColor="cyan" radius="xl" width="default" height="default" margin="auto"
        textColor="white" border="none">
      </app-button>
    </div>

    <div class="sidenav--item">
      <img src="/assets/img/square.svg" class="sidenav--item-icon" />

      <app-button type="button2" radius="xl" width="default" height="default" margin="auto" textColor="grey"
        border="none">
      </app-button>
    </div> -->
  </main>
</aside>
