<aside class="sidenav">
  <header class="sidenav--title">
    <app-texts type="cyan" [fontWeight]="true" size="h3" [center]="true" >CASEYOUNEED</app-texts>
  </header>

  <main>
    <section class="sidenav--item">
      <app-button type="primary" [noEffect]="true" left-icon="image" [block]="true">
        Create an Ad
      </app-button>
    </section>
    <section class="sidenav--item mt-4">
      <app-button type="default" textColor="grey" [noEffect]="true" left-icon="square" [block]="true">
        Dashboard
      </app-button>
    </section>
  </main>
</aside>