$cyan: #0cd4f5;
$radiusxl: 10px;
$none: none;
$widthDefault: 12px 59px;
$heighDefault: 50px;
$marginauto: auto;
$grey: #6E707F;
$paddingL: 10px;
$white:#fff;
.background-color-cyan {
    background-color: $cyan;
}
.border-radius-xl {
    border-radius: $radiusxl;
}
.button-width-default {
    padding: $widthDefault;
}
.background-color-white {
    background-color: $white;
    color: $grey;
}
.margin-auto {
    margin: $marginauto;
}
.button-height-default {
    height: $heighDefault;
}
.border-none {
    border: $none;
}
.padding-L {
    padding: $paddingL;
}
.text-color-grey {
    color: $grey;
}
.text-color-white {
    color: $white;
}

