$cyan: #0cd4f5;
$center: center;
$bold:bold;
$grey:#6E707F;
$lightgrey:#BCBFCC;
$size:13px;
$margin-bottom:0px;
$margin-top:3px;
.text-size-xs{
    font-size: $size;
}
.text-margin-bottom{
    margin-bottom: $margin-bottom;
}
.text-margin-align{
    margin-bottom: $margin-bottom;
    margin-top: $margin-top;
}
.text-color-cyan {
    color: $cyan;
}
.text-color-grey {
    color: $grey;
}
.text-middle {
    text-align: $center;
}
.font-bold {
    font-weight: $bold;
}
.text-color-light-grey{
    color:$lightgrey;
}
