.row {
    padding: 0px !important;
    margin: 0px !important;
    .col-9 {
        padding: 0px !important;
        margin: 0px !important;
        width: 80% ;
        .index {
            height: 100vh;
            background-color: #f3f5f9;
        }
    }
    .col-3 {
        padding: 0px !important;
        margin: 0px !important;
        width: 20% ;
    }
}
